{% extends "base_generic.html" %}

{% block content %}
<h1>Author List</h1>
{% if object_list %}
<ul>
    {% for e in object_list %}
    <li>
        <a href="{{ e.get_absolute_url }}">{{ e.last_name }}, {{ e.first_name }}</a>
        ({{ e.date_of_birth }} - {{ e.date_of_death|default_if_none:"" }})
        {% if perms.catalog.change_author %}- <a href="{% url 'author_update' e.pk %}">Edit</a>{% endif %}
        {% if perms.catalog.delete_author %}- <a href="{% url 'author_delete' e.pk %}">Delete</a>{% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There are no authors.</p>
{% endif %}
{% endblock %}